<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>port</key>
	<string></string>
	<key>rootPath</key>
	<string>/api/v1</string>
	<key>address</key>
	<string>veloto.ru.com</string>
	<key>schema</key>
	<string>https</string>
</dict>
</plist>
