<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appUrl</key>
	<string>strava://oauth/mobile/authorize</string>
	<key>webUrl</key>
	<string>https://www.strava.com/oauth/mobile/authorize</string>
	<key>clientId</key>
	<string>73902</string>
	<key>clientSecret</key>
	<string>214fc4243d59bf104ff47a94e261eb2838a413df</string>
	<key>callbackScheme</key>
	<string>veloto</string>
	<key>redirectAddress</key>
	<string>veloto.ru.com</string>
	<key>scope</key>
	<string>read_all</string>
	<key>apiUrl</key>
	<string>https://www.strava.com/api/v3</string>
	<key>authUrl</key>
	<string>https://www.strava.com/oauth</string>
</dict>
</plist>
